<h2><%= @poll.name %></h2>
<div class="poll-meta">
  <p>
    Poll started <%= @poll.created_at %> by <%= @poll.starter.username %>.
    <% unless @poll.ended_at.nil? %>
      <br>
      Poll closed <%= @poll.ended_at %>.
    <% end %>
  </p>
  <%
  links = []
  if @poll.open? && can?(:nominate, @poll)
    links << link_to("Nominate places", nominate_poll_path(@poll))
  end

  if @poll.open? && can?(:close, @poll)
    links << link_to("Close poll", close_poll_path(@poll), confirm: "Are you sure you want to close this poll?", method: :put)
  end

  if can? :destroy, @poll
    links << link_to("Delete poll", poll_path(@poll), confirm: "Are you sure you want to delete this poll?", method: :delete)
  end
  %>
  <% unless links.empty? %>
    <div>
      <%= raw links.join(" | ") %>
    </div>
  <% end %>
</div>

<% unless current_user.nil? %>
  <% user_votes = @votes_by_user[current_user.id] %>
<% end %>

<% if user_votes.nil? %>
  <% user_votes = [] %>
<% end %>

<% if @poll.open? %>
  <% active_tab = user_votes.count >= @poll.max_votes_per_user ? "results" : "vote" %>
<% else %>
  <% active_tab = "results" %>
<% end %>

<ul class="nav nav-tabs">
  <% ["vote", "participation", "results"].each do |tab| %>
    <li class="<%= "active" if active_tab == tab %>"><a href="#<%= tab %>" data-toggle="tab"><%= tab.titleize %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane<%= " active" if active_tab == "vote" %>" id="vote">
    <% unless @poll.poll_options.empty? %>
      <%= form_tag vote_poll_path @poll do %>
        <% @poll.poll_options.each do |opt| %>
          <% if can? :vote, @poll %>
            <% unless current_user.nil? %>
              <% votes = opt.votes.where(user_id: current_user.id) %>
            <% else %>
              <% votes = [] %>
            <% end %>

            <% checkbox_name = "poll_options[#{opt.id}]" %>
            <% checkbox_checked = false %>
            <% checkbox_options = {} %>

            <% unless votes.empty? %>
              <% checkbox_checked = true %>
              <% checkbox_options[:disabled] = true %>
            <% end %>

            <label class="place checkbox">
              <%= check_box_tag(checkbox_name, opt.id, checkbox_checked, checkbox_options) %>
              <%= place_name opt.place %>
            </label>
          <% else %>
            <label class="place checkbox">
              <%= place_name opt.place %>
            </label>
          <% end %>
        <% end %>
        <% if can? :vote, @poll %>
          <%= submit_tag "Vote", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% else %>
      <p>There are no places nominated yet. Why not <%= link_to "nominate something", nominate_poll_path(@poll) %>?</p>
    <% end %>
  </div>
  <div class="tab-pane<%= " active" if active_tab == "participation" %>" id="participation">
    <% unless @votes_by_user.empty? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Voter</th>
            <th># Votes</th>
          </tr>
        </thead>
        <tbody>
          <% @votes_by_user.each do |user_id, votes| %>
            <tr>
              <td><%= User.find(user_id).username %></td>
              <td><%= votes.size %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No one has voted yet.</p>
    <% end %>
  </div>
  <div class="tab-pane<%= " active" if active_tab == "results" %>" id="results">
    <% unless @poll.poll_options.empty? %>
      <% if @poll.ended_at.blank? %>
        <p>Because this poll is still active, the results below are preliminary and may change.</p>
      <% end %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Place</th>
            <th>Votes</th>
          </tr>
        </thead>
        <tbody>
          <% @poll.poll_options.sort_by! { |opt| opt.votes.count } %>
          <% max_count = @poll.poll_options.last.votes.count %>
          <% @poll.poll_options.reverse_each do |opt| %>
            <tr class="place <%= "success" if !@poll.ended_at.nil? && opt.votes.count == max_count %>">
              <td><%= place_name opt.place %></td>
              <td><%= opt.votes.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>Voting hasn't started yet. Check back later.</p>
    <% end %>
  </div>
</div>


