<tr class="<%= (place.disabled? ? "muted" : "") %>">
  <td>
    <% if place.url.nil? || place.url.strip.empty? %>
      <%= place.name %>
    <% else %>
      <%= place_name_link place %>
    <% end %>
    <% if place.disabled? %>
      <span class="text-warning"><%= "[DISABLED] " %></span>
    <% end %>
  </td>
  <td><%= [place.city, place.state].join(", ").gsub(/^, /, "").gsub(/, $/, "") %></td>
  <td>
    <% if can? :edit, place %>
      <%= link_to "Edit", edit_place_path(place), class: "btn btn-mini" %>
    <% end %>
    <% if can? :destroy, place %>
      <%= link_to "Delete", place_path(place), confirm: "Are you sure you want to delete this place?", method: :delete, class: "btn btn-mini btn-danger" %>
    <% end %>
  </td>
</tr>
