<tr class="place <%= (place.disabled? ? "muted" : "") %>">
  <td>
    <%= place_name place %>
  </td>
  <td><%= [place.city, place.state].join(", ").gsub(/^, /, "").gsub(/, $/, "") %></td>
  <td>
    <% if can? :edit, place %>
      <%= link_to "Edit", edit_place_path(place), class: "btn btn-mini" %>
    <% end %>
    <% if can? :destroy, place %>
      <%= link_to "Delete", place_path(place), confirm: "Are you sure you want to delete this place?", method: :delete, class: "btn btn-mini btn-danger" %>
    <% end %>
  </td>
</tr>
