<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "GLF", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Polls", polls_path %></li>
          <li><%= link_to "Places", places_path %></li>
          <li class="dropdown">
            <% if user_signed_in? %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome <%= current_user.username %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", edit_user_registration_path %></li>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              </ul>
            <% else %>
              <%= link_to "Sign in", new_user_session_path %>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

