<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% if flash[:success] %>
        <div clsss="success success-block">
          <div class="text-success"><%= flash[:success] %></div>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div clsss="error error-block">
          <div class="text-error"><%= flash[:error] %></div>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div clsss="alert alert-block">
          <div class="text-alert"><%= flash[:alert] %></div>
        </div>
      <% end %>
      <% if flash[:info] %>
        <div clsss="info info-block">
          <div class="text-info"><%= flash[:info] %></div>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="notice notice-block">
          <div class="text-notice"><%= flash[:notice] %></div>
        </div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-23180902-7', 'ablerobot.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
