<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash[:success] = flash[:error] = flash[:alert] = flash[:info] = flash[:notice] = "Test flash content. Lovely, I hope." %>
      <% if flash[:success] %>
        <div clsss="success success-block">
          <div class="text-success"><%= flash[:success] %></div>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div clsss="error error-block">
          <div class="text-error"><%= flash[:error] %></div>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div clsss="alert alert-block">
          <div class="text-alert"><%= flash[:alert] %></div>
        </div>
      <% end %>
      <% if flash[:info] %>
        <div clsss="info info-block">
          <div class="text-info"><%= flash[:info] %></div>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="notice notice-block">
          <div class="text-notice"><%= flash[:notice] %></div>
        </div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
